html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
header > h1 {
    font-size: 10vw;
    align-items:  
}
img {
    width: 250px;
    height: auto;
}
.section-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.section-2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.header-box {
    background-color: black;
    color: white;
}
/*.wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 2.5fr 4.5fr 4.5fr 1.5fr;
    /*grid-template-areas: 
    
    " . . box-1 box-1 box-2 box-2 . . "
    " . box-3 box-4 box-5 box-6" . ;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 2em;
}*/

.header-box {
    grid-row: 1 / 2;
    grid-column: 1 / 7;
    text-align: center;
}

.box-1 {
    grid-area: box-1;
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    

}
.box-2 {
    grid-area: box-2;
    grid-row: 2 / 3;
    grid-column: 4 / 5;
    
}

.box-3 {
    grid-area: box-3;
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    
}

.box-4 {
    grid-area: box-4;
    grid-row: 3 / 4;
    grid-column: 3 / 4;
    
}

.box-5 {
    grid-area: box-5;
    grid-row: 3 / 4;
    grid-column: 4 / 5;
    
}

.box-6 {
    grid-area: box-6;
    grid-row: 3 / 4;
    grid-column: 5 / 6;
    
}
.black-footer {
    background-color: black;
    grid-row: 4 / 5;
    grid-column: 1 / 7;
}