/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    
}
/*set widht for all direct descendants of container!*/
.container-1 img{
    
    width: 450px;
}
header h1{
    background-color: #000;
    color: #fff;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    padding: 2.5rem;
    margin-bottom: 5rem;
}
div h2{
    font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
}
div p{
    line-height: 1.5rem;
}
/*set width of container element, standard is 1280x720px (HD)
also margin: 0 auto*/
.container-1 {
    display: flex;
    width: 1000px;
    margin: 0 auto;
    /*background-color: red;*/
    /*
    unnecessary to mention flex-direction:row 
    flex-direction: row;*/
    justify-content: space-evenly;
    margin-bottom: 5rem;
    /*align-content: center;*/
}
/*set width for container children elements*/
.container-1 div{
    flex-basis: 450px;
    text-align: center; 
}
/*set width of container element, standard is 1280x720px (HD)
also margin: 0 auto*/
.container-2 {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    /*background-color: aqua;*/
    justify-content: space-evenly;/*instead of center, not needed here*/
    /*align-content: center; not needed here*/

}
/*set width for container children elements*/
.container-2 .box {
    flex-basis: 250px;
    text-align: center;
    color: rgb(146, 141, 141);
}
.container-2 img{
    width: 250px;/*width equal to width of .container-2 .box*/
}
/*@media (min-width: 200px){
    .container-1, .container-2{
        display: flex;}
} can't figure out how to make this work*/